@import "../../utils/component";

.answerPanelContainer {
  background-color: $glassEffect;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px;
  width: 90% !important;
  padding: 1rem;
  margin-bottom: 1rem;
  .row {
    h2 {
      text-align: center;
    }
    .answer {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      gap: 1rem;
      .correctAnswer {
        color: $accent2;
      }
      .correct {
        color: green;
      }
      .wrong {
        color: red;
      }
    }
    .toHomeBtn {
      width: 30%;
      margin: auto;
      margin-top: 1rem;
      border: none;
      outline: none;
      box-shadow: none;
      transition: all 0.5s ease-in-out;
      background-color: $accent;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
