@import "../../utils/component";

.quizPanelContainer {
  background-color: $glassEffect;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px;
  width: 90% !important;
  padding: 1rem;
  margin-bottom: 1rem;
  .row {
    padding-bottom: 2rem;
    .quizForm {
      padding: 0 2rem !important;
      p {
        font-weight: bold;
      }
      .checkBox {
        margin-bottom: 1rem;
      }
    }
    .submitBtn {
      width: 30%;
      margin: auto;
      margin-top: 1rem;
      border: none;
      outline: none;
      box-shadow: none;
      transition: all 0.5s ease-in-out;
      background-color: $accent;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
