@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";
/* color palette */
$textColor1: black;
$textColor2: white;
$bgColor: #f2f4e8;
$boxColor: #b4b7a2;
$accent: #eba15a;