@import "../../utils/component";

.wrapper {
  font-family: "Cuprum", sans-serif;
  min-height: 100vh;
  width: 100%;
  background: radial-gradient(circle 200px at center, #81f7fddf 0%, #6ad6f1ec 50%, #74c3fc 100%);
}
